 .hamburger {
    display: none;
    background: none;
    outline: none;
    border: none;
  }
  .mobile-nav {
    display: none;
  }
  
  .container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    place-items: center center;
    height: 100vh;
  }

  .contact-form {
    border: 1px solid black;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }
  /* necessary in order to put two form fields in a single row */
  .city-zip-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .form-field {
    margin: 1rem 1.5rem; /* evenly spaces all form fields */
  }
  
  label {
    display: block; /* allows padding to be added */
    padding-bottom: .25rem;
  }

  input, textarea {
    caret-color: rgb(78, 78, 78);
    outline: none;
  }

  input:focus, textarea:focus,
  input:active, textarea:active {
    border: 2px solid gray;;
  }
  
  input {
    padding: .4rem .2rem;
    border-radius: 4px;
    border: 1px solid gray;
    width: 100%; /* necessary for responsive input fields */
  }
  textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
  }
  textarea[placeholder] {
    font-family: 'Times New Roman', 'sans-serif';
  }
  
  button {
    margin: 0 auto 1rem 1.5rem; /* aligns button to the left */
    padding: .5rem 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    border: 1px solid cyan;
  }
  
  input[type='email']:valid:focus {
    border: 1px solid green;
  }
  
  input[type='email']:invalid:focus {
    border: 1px solid red;
  }
  